// Colors
$red: #E4002B;
$redhover: #c8102e;
$white: #FFF;
$black: #000;
$gray: #1C1C1C;
$lightgray:#f1f1f2;

//Breakpoints
$mobile: 320px;
$tablet: 767px;
$desktop: 1023px;
$widescreen: 1400px;
 
$fa-font-path: "../../";